protobuf
anthropic
openai-agents
openai
google-genai # 	New library (Recommended). Old library was ´google-generativeai´
mistralai
xai_sdk
elevenlabs
speechmatics-python
assemblyai
lxml
pandas
pillow
praw
pydantic
PyPDF2
pycryptodome
pydub
python-dotenv
PyYAML
requests
rich
tiktoken
loguru