protobuf
anthropic>=1.4.0
openai-agents>=0.22.1
openai>=3.9.0
google-genai>=2.22.0
mistralai>=2.9.4
xai_sdk>=1.19.0
zai-sdk>=0.2.3
lxml
pandas
pillow
praw
pydantic
PyPDF2
pycryptodome
pydub
python-dotenv
PyYAML
requests
rich
tiktoken
loguru
paramiko
